body {
    font-family: Arial, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    background-color: #5b4b6c;
}
.quiz-container {
    background-color: #fff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    max-width: 400px;
    width: 100%;
}
.question {
    font-size: 18px;
    margin-bottom: 20px;
}
.options {
    list-style: none;
    padding: 0;
}
.options li {
    margin-bottom: 10px;
}
.options button:hover {
    background-color: #333;
}
.options button {
    width: 100%;
    padding: 10px;
    font-size: 16px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}
.message {
    margin-top: 20px;
    font-size: 16px;
    color: blueviolet;
}
.close-modal {
    position: absolute;
    top: 1.2rem;
    right: 2rem;
    font-size: 5rem;
    color: #333;
    cursor: pointer;
    border: none;
    background: none;
}
h1 {
    font-size: 2.5rem;
    margin-bottom: 2rem;
    text-align: center;
    color: blueviolet;
}
p {
    font-size: 1.8rem;
}
.modal {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 60%;
    background-color: white;
    padding: 3rem;
    border-radius: 5px;
    box-shadow: 0 3rem 5rem rgba(0, 0, 0, 0.3);
    z-index: 10;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.6);
    backdrop-filter: blur(3px);
    z-index: 5;
}
.hidden {
    display: none;
}
.btn{
    width: 150px;
    outline: none;
    color: white;
    background-color: blueviolet;
    height: 40px;
    border: none;
    cursor: pointer;
    border-radius: 5px;
}
.btn:hover{
    height: 42px;
    width: 152px;
}